dontaudit boringssl_self_test self:capability { kill sys_admin };
dontaudit fsck self:capability { kill sys_admin };
dontaudit fsverity_init self:capability { sys_admin };
dontaudit linkerconfig self:capability { kill sys_admin };
dontaudit ueventd self:capability { kill sys_admin };
dontaudit vdc self:capability { kill sys_admin };
