# init.custom.rc - add init modifications here

on init
    mkdir /dev/stune/audio-app
    chown system system /dev/stune/audio-app
    chown system system /dev/stune/audio-app/tasks
    chmod 0664 /dev/stune/audio-app/tasks

    mkdir /dev/cpuset/audio-app
    copy /dev/cpuset/cpus /dev/cpuset/audio-app/cpus
    copy /dev/cpuset/mems /dev/cpuset/audio-app/mems

    chown system system /dev/cpuset/audio-app
    chown system system /dev/cpuset/audio-app/tasks
    chmod 0664 /dev/cpuset/audio-app/tasks
    
    mkdir /dev/cpuset/display
    copy /dev/cpuset/cpus /dev/cpuset/display/cpus
    copy /dev/cpuset/mems /dev/cpuset/display/mems
    
    chown system system /dev/cpuset/display
    chown system system /dev/cpuset/display/tasks

    # Boot time fs tuning
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/nr_requests 256
    write /dev/sys/fs/by-name/userdata/data_io_flag 56
    write /dev/sys/fs/by-name/userdata/node_io_flag 56
    
    # Disable UFS powersaving
    write /dev/sys/block/bootdevice/clkgate_enable 0
    
    write /proc/sys/vm/page-cluster 0

    # Apply network parameters for high data performance.
    write /proc/sys/net/core/rmem_default 327680
    write /proc/sys/net/core/rmem_max 8388608
    write /proc/sys/net/core/wmem_default 327680
    write /proc/sys/net/core/wmem_max 8388608
    write /proc/sys/net/core/optmem_max 20480
    write /proc/sys/net/core/netdev_max_backlog 10000
    write /proc/sys/net/ipv4/tcp_rmem "2097152 4194304 8388608"
    write /proc/sys/net/ipv4/tcp_wmem "262144 524288 8388608"
    write /proc/sys/net/ipv4/tcp_mem "44259 59012 88518"
    write /proc/sys/net/ipv4/udp_mem "88518 118025 177036"

    
on property:sys.boot_completed=1

    # Runtime fs tuning
    write /sys/block/sda/queue/nr_requests 64
    write /dev/sys/fs/by-name/userdata/data_io_flag 8
    write /dev/sys/fs/by-name/userdata/node_io_flag 8

    write /proc/sys/vm/swappiness 100

    # Back to default VM settings
    write /proc/sys/vm/dirty_expire_centisecs 3000
    write /proc/sys/vm/dirty_background_ratio 10

    # Enable UFS powersaving
    write /dev/sys/block/bootdevice/clkgate_enable 1
    
    # Setup cpu.shares to throttle background groups (bg ~ 5% sysbg ~ 5% dex2oat ~2.5%)
    write /dev/cpuctl/background/cpu.shares 1024
    write /dev/cpuctl/system-background/cpu.shares 1024
    write /dev/cpuctl/dex2oat/cpu.shares 512
    write /dev/cpuctl/system/cpu.shares 20480
    # We only have system and background groups holding tasks and the groups below are empty
    write /dev/cpuctl/camera-daemon/cpu.shares 20480
    write /dev/cpuctl/foreground/cpu.shares 20480
    write /dev/cpuctl/nnapi-hal/cpu.shares 20480
    write /dev/cpuctl/rt/cpu.shares 20480
    write /dev/cpuctl/top-app/cpu.shares 20480




    

